@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Atkinson', sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

kbd {
  @apply px-2 py-1 border rounded-md text-xs font-semibold;
}

#article-content {
  @apply px-2 pr-5 lg:pr-10;
}

#article-content h1 {
  @apply mt-12 mb-8 text-4xl md:text-5xl font-bold tracking-tight text-primary dark:text-white font-sans antialiased;
}

#article-content h2 {
  @apply mt-12 mb-6 text-3xl font-bold tracking-tight text-primary dark:text-white scroll-mt-28 font-sans antialiased;
}

#article-content h3 {
  @apply mt-8 mb-4 text-2xl font-bold tracking-tight text-primary dark:text-white font-sans antialiased;
}

#article-content h4 {
  @apply mt-8 mb-4 text-xl font-bold tracking-tight text-primary dark:text-white font-sans antialiased;
}

#article-content h5 {
  @apply mt-6 mb-3 text-lg font-bold tracking-tight text-primary dark:text-white font-sans antialiased;
}

#article-content h6 {
  @apply mt-6 mb-3 text-base font-bold tracking-tight text-primary dark:text-white font-sans antialiased;
}

#article-content p {
  @apply text-base md:text-lg mb-6 leading-relaxed text-text-light dark:text-text-dark font-sans antialiased;
}

#article-content pre {
  @apply text-xs; /* This will make code blocks smaller */
  @apply p-4; /* Add some padding */
  @apply rounded-md; /* Optional: adds rounded corners */
}

#article-content ul,
#article-content ol {
  @apply pl-0 ml-4 mb-4 font-sans antialiased;
}

#article-content li {
  @apply text-sm md:text-base mb-1 font-sans antialiased;
}

#article-content ul > li {
  @apply list-disc list-inside font-sans antialiased;
}

#article-content ol > li {
  @apply list-decimal list-inside font-sans antialiased;
}

#article-content hr {
  @apply border-gray-300 my-3;
}

#article-content aside {
  @apply bg-gray-100 p-4 rounded-md my-4 font-sans antialiased;
}

#article-content aside .callout-icon {
  @apply inline-block mr-1 text-2xl;
}
