---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { cn } from '../utils/cn';
---

<main class={cn('flex h-screen flex-col')}>
  <div class={cn('w-full')}>
    <Header />
  </div>

  <section class={cn(['flex-1 flex flex-col', 'overflow-y-auto scrollbar-hide'])}>
    <slot />
  </section>

  <div class={cn('shadow-[0_-2px_10px_rgba(0,0,0,0.1)]')}>
    <Footer />
  </div>
</main>
