---
import Footer from '../components/Footer.astro';

---

<main class="w-[375px] md:w-[720px] lg-[968px] h-screen flex flex-col mx-auto py-3 gap-4">
    <div class="w-full py-5">
        <a href="/">
            <img src="/images/tamagobun.png" alt="Tamgobun" width="120px"/>
        </a>
    </div>
    
    <section class="flex-1 flex flex-col gap-10 overflow-y-auto scrollbar-hide">
        <slot />
        
        <div class="shadow-[0_-2px_10px_rgba(0,0,0,0.1)]">
            <Footer />
        </div>
    </section>
    
</main>

